<h1>Listing chains</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chains.each do |chain| %>
  <tr>
    <td><%= chain.date %></td>
    <td><%= chain.name %></td>
    <td><%= link_to 'Show', chain %></td>
    <td><%= link_to 'Edit', edit_chain_path(chain) %></td>
    <td><%= link_to 'Destroy', chain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chain', new_chain_path %>
