<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @chain.date %>
</p>

<p>
  <b>Name:</b>
  <%= @chain.name %>
</p>


<%= link_to 'Edit', edit_chain_path(@chain) %> |
<%= link_to 'Back', chains_path %>
